<p>
  I am a Computer Engineering graduate with a concentration in software. In
  addition to my academic background, I took the IELTS Academic test and earned
  an overall band score of 8 out of 9. Following that, I attended the IELTS
  Teacher Training Course offered by IELTS Tehran. My passion for technology led
  me to explore web development through various courses covering both front-end
  and back-end development. I completed a three-month internship as a back-end
  developer, where I worked on an IoT project. More recently, my career has
  shifted toward front-end development, and I am now working as a Junior
  Front-End Developer, primarily building websites for exchange centers. I’m
  always eager to learn, take on new challenges, and grow as a developer.
</p>
